@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: rgb(238, 242, 255);
  --color-primary-100: rgb(224, 231, 255);
  --color-primary-200: rgb(199, 210, 254);
  --color-primary-300: rgb(165, 180, 252);
  --color-primary-400: rgb(129, 140, 248);
  --color-primary-500: rgb(99, 102, 241);
  --color-primary-600: rgb(79, 70, 229);
  --color-primary-700: rgb(67, 56, 202);
  --color-primary-800: rgb(55, 48, 163);
  --color-primary-900: rgb(49, 46, 129);

  --color-secondary-50: rgb(240, 253, 250);
  --color-secondary-100: rgb(204, 251, 241);
  --color-secondary-200: rgb(153, 246, 228);
  --color-secondary-300: rgb(153, 246, 228);
  --color-secondary-400: rgb(45, 212, 191);
  --color-secondary-500: rgb(20, 184, 166);
  --color-secondary-600: rgb(13, 148, 136);
  --color-secondary-700: rgb(15, 118, 110);
  --color-secondary-800: rgb(17, 94, 89);
  --color-secondary-900: rgb(19, 78, 74);

  --color-neutral-50: rgb(249, 250, 251);
  --color-neutral-100: rgb(243, 244, 246);
  --color-neutral-200: rgb(229, 231, 235);
  --color-neutral-300: rgb(209, 213, 219);
  --color-neutral-400: rgb(156, 163, 175);
  --color-neutral-500: rgb(107, 114, 128);
  --color-neutral-600: rgb(75, 85, 99);
  --color-neutral-700: rgb(55, 65, 81);
  --color-neutral-800: rgb(31, 41, 55);
  --color-neutral-900: rgb(17, 24, 39);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-neutral-200/80 dark:border-neutral-700;
  }

  button.gm-control-active.gm-fullscreen-control {
    border-radius: var(--radius-xl) !important;
  }
  [type='button'] {
    -webkit-appearance: none !important;
  }

  hr {
    @apply border-t border-neutral-200 dark:border-neutral-700;
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    @apply rounded-md dark:bg-neutral-500;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media screen and (min-width: 1536px) {
    padding-inline: 8rem;
  }
}

@utility pl-container {
  @apply pl-4 sm:pl-[calc((100vw-40rem+2rem)/2)] md:pl-[calc((100vw-48rem+2rem)/2)] lg:pl-[calc((100vw-64rem+2rem)/2)] xl:pl-[calc((100vw-80rem+2rem)/2)] 2xl:pl-[calc((100vw-96rem+16rem)/2)];
}

/* embla carousel */
@utility embla {
  overflow: hidden;
}
@utility embla-overflow-unset {
  overflow: unset;
}
@utility embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
@utility embla__slide {
  flex-shrink: 0;
  flex-grow: 0;
  transform: translate3d(0, 0, 0);
}

/* // CUSTOM STYLES */
@utility hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* // CARD TITLE */
/* @utility post-card-title {
  @apply transition-colors duration-75 hover:text-primary-900 hover:underline dark:hover:text-primary-300;
} */

/* // Z-MAX */
@utility z-max {
  z-index: 99999999;
}

/* // POST CARD COMMENT BTN */
.nc-PostCardCommentBtn,
.nc-PostCardLikeAction,
.nc-CommentCardLikeReply > button {
  &:hover {
    span {
      color: inherit;
    }
  }
}

/* // ORIGIN */
@utility origin-100 {
  transform-origin: 100% 50% 0px;
}
@utility origin-50 {
  transform-origin: 50% 50% 0px;
}

/* // POST FEATURED MEDIA */
.nc-PostFeaturedMedia {
  .glide__bullet--active {
    @apply bg-white;
  }
}

.modalPhotos-single-gallery {
  .controls_nav {
    .glide__bullet--active {
      display: block;
    }
  }
}

@utility nc-animation-spin {
  animation: myspin 20s linear infinite;
  animation-play-state: paused;
  &.playing {
    animation-play-state: running;
  }
}
@keyframes myspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[type='button'] {
  -webkit-appearance: none !important;
}

@utility section-rounded-none {
  *[class*='rounded'],
  *[class*='nc-box'] {
    border-radius: 0 !important;
  }
}

@utility section-rounded-md {
  *[class*='rounded'],
  *[class*='nc-box'] {
    border-radius: var(--radius-md) !important;
  }
}

@utility nc-google-shadow {
  box-shadow:
    0px 6px 10px 0px rgb(0 0 0 / 14%),
    0px 1px 18px 0px rgb(0 0 0 / 12%),
    0px 3px 5px -1px rgb(0 0 0 / 20%);
}

.menuIsNew_lv1 {
  > a::before {
    content: 'New!';
    position: absolute;
    top: -2px;
    @apply end-0;
    display: inline-block;
    padding: 0 5px;
    line-height: 15px;
    border-radius: 4px;
    background-color: #f35656;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
  }
}
.menuIsNew {
  > a::after {
    content: 'New!';
    display: inline-block;
    padding: 0 5px;
    line-height: 15px;
    border-radius: 4px;
    background-color: #f35656;
    color: #fff;
    font-size: 10px;
    @apply ms-1.5;
  }
}

.nc-PostCardCommentBtn,
.nc-PostCardLikeAction,
.nc-CommentCardLikeReply > button {
  &:hover {
    span {
      color: inherit;
    }
  }
}

.nc-CardLarge1--hasAnimation {
  .nc-CardLarge1__left {
    animation-name: CardLarge1ExampleLeft;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
  }
  .nc-CardLarge1__right {
    animation-name: CardLarge1ExampleRight;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }
}

@keyframes CardLarge1ExampleRight {
  from {
    transform: scale(1.05) translateY(20px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes CardLarge1ExampleLeft {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@utility custom-shadow-1 {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* // MENU MEGAMENU */
@utility menu-item {
  @apply flex;
  &:hover {
    > .sub-menu {
      @apply block;
    }
  }
}
@utility sub-menu {
  @apply hidden;
}
